@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* ## global styles */
:root {
  --clr-primary: #FF0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { font-family: 'Inter', sans-serif; }
h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}
button { cursor: pointer; }
img { max-width: 100%; }
a:hover {opacity: .75;}

/* ## shared styles */
.p-dark { 
  color: rgba(7, 2, 17, 0.60); 
  line-height: 1.5;
}
.p-light {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.80);;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}
.btn-primary {
  background: var(--clr-primary);
  padding: .5rem 1rem;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: .5rem;
}
.btn-primary:hover {
  opacity: .75;
}
.heading-lg {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.heading {
  font-size: 2rem;
  margin-bottom: .5rem;
}

/* ## hero-sect */
.hero-sect {
  margin: 2rem 1rem;
  color: white;
}
.hero-sect .container {
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('./images/banner.png') no-repeat center center/cover;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sect .content {
  text-align: center;
  margin: 200px auto;
}
.hero-sect .content p {
  font-family: 'Merriwather', serif;
  font-size: 2rem;
  margin-bottom: .5rem;
}

/* ## discount-sect */
.discount-sect {
  margin: 1rem auto;
  padding: 3rem 1rem;
  text-align: center;
}
.discount-sect .content {
  max-width: 600px;
  margin: 0 auto 2rem;
}
.discount-sect .content h2 {
  font-size: 3rem;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}
.discount-sect .content p:nth-of-type(1) {
  color: var(--clr-primary);
  margin-bottom: .5rem;
  font-weight: bold;
}
.discount-sect .content p:nth-of-type(2) {
  font-size: 2rem;
}
.discount-sect img {
  max-width: 600px;
}

/* ## join-now-sect */
.join-now-sect {
  margin: 2rem 1rem;
  color: white;
}
.join-now-sect .container {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 3rem 1rem;
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('./images/party.png') no-repeat center center/cover;
}
.join-now-sect .content {
  max-width: 500px;
}
.join-now-sect .content p {
  margin-bottom: 1rem;
}

/* ## vanue-sect */
.vanue-sect {
  margin: 2rem 1rem;
}
.vanue-sect .container {
  background-image: linear-gradient(to bottom, rgba(255,0,0,.2), rgba(255, 0, 0, 0.01));
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.vanue-sect .container > * {
  margin-bottom: .5rem;
}
.vanue-sect .container strong {color: var(--clr-primary);}
.vanue-sect .container button { margin-top: 1rem; }


/* ## offer-sect */
.offer-sect {
  margin-top: 3rem;
}
.offer-sect .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

}
.offer-sect .container > * {flex: 1;}
.offer-sect .content .subheading { 
  color: var(--clr-primary); 
}
.offer-sect .img-wrapper {
  border: 8px solid var(--clr-primary);
  border-radius: 50%;
  padding: 1rem;
}
.offer-sect .content-2 .heading {
  color: var(--clr-primary);
}
.offer-sect .content-2 img {
  margin-top: 1rem;
  width: 100px;
}

/* ## holiday-sale-sect */
.holiday-sale-sect {
  margin: 4rem 0;
}
.holiday-sale-sect .content {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.holiday-sale-sect .content h2 {
  margin-top: .5rem;
}
.holiday-sale-sect .content h2 span {color: var(--clr-primary);}
.holiday-sale-sect .gift-showcase {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: start;
  margin-top: 2rem;
  background-image: url('./images/red-square.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 140px;
}
.holiday-sale-sect .gift-showcase .gift-img-wrapper {
  flex: 0 1 50%;
}
.holiday-sale-sect .gift-showcase .girl-img-wrapper {
  position: relative;
  flex: 0 1 30%;
  z-index: -1;
}
.holiday-sale-sect .gift-showcase .girl-img-wrapper img:first-child {
  position: absolute;
  top: 50%;
  left: 0;
  width: 150px;
  transform: translate(-50%, -50%);
}

/* ## portfolio-sect */
.portfolio-sect {
  margin: 3rem 0;
  padding: 1rem 0;
}
.portfolio-sect .content {
  max-width: 500px;
  margin-bottom: 2rem;
}
.portfolio-sect .content .subheading {
  color: var(--clr-primary);
}
.portfolio-sect .gallery {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  gap: 1rem;
  width: 100%;
}
.portfolio-sect .gallery img {
  width: 100%;
}
.portfolio-sect .gallery img:hover {
  cursor: pointer;
  opacity: .75;
  transform: scale(1.05);
  transition: all .3s;
}

/* ## newsletter-sect */
.newsletter-sect {
  margin: 1rem;
}
.newsletter-sect .container {
  background: rgba(255, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 3rem 1rem;
  text-align: center;
}
.newsletter-sect .content {
  max-width: 500px;
  margin: auto;
}
.newsletter-sect .content > * {
  margin-bottom: 1rem;
}
.newsletter-sect form {
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  max-width: 500px;
  margin: 2rem auto 0;
}
.newsletter-sect form input {
  padding: 1rem;
  border: none;
  flex: 1;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.newsletter-sect form button {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* ## footer */
footer {
  background: #070211;
  color: white;
  margin-top: 3rem;
  padding: 3rem 0;
}
footer .contact-info {
  display: flex;
  justify-content: space-between;
}
footer .contact-info .contact-list p {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .75rem;
}
footer .contact-info .contact-list img {
  width: 20px;
}
footer .contact-info  .contact-list a {
  color: white;
  text-decoration: none;
}
footer hr {
  margin: 1rem 0;
}
footer .social-links {
  text-align: center;
}
footer .social-links a {
  display: inline-block;
  width: 40px;
  margin-right: 1rem;
}
footer .social-links img {width: 100%;}
footer .unsub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .unsub button {
  color: var(--clr-primary);
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 1rem;
}
footer .unsub button:hover {opacity: .75;}