@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* ## global styles */
:root {
  --clr-primary: #FF0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { font-family: 'Inter', sans-serif; }
h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}
button { cursor: pointer; }
image { max-width: 100%; }

/* ## shared styles */
.p-dark { color: rgba(7, 2, 17, 0.60); }
.p-light {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.80);;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}
.btn-primary {
  background: var(--clr-primary);
  padding: .5rem 1rem;
  color: white;
  border: none;
  font-size: 1rem;
}
.btn-primary:hover {
  opacity: .75;
}
.heading-lg {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.heading {
  font-size: 2rem;
  margin-bottom: .5rem;
}

/* ## hero-sect */
.hero-sect {
  margin: 2rem 1rem;
  color: white;
}
.hero-sect .container {
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('./images/banner.png') no-repeat center center/cover;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sect .content {
  text-align: center;
  margin: 200px auto;
}
.hero-sect .content p {
  font-family: 'Merriwather', serif;
  font-size: 2rem;
  margin-bottom: .5rem;
}

/* ## discount-sect */
.discount-sect {
  margin: 1rem auto;
  padding: 3rem 1rem;
  text-align: center;
}
.discount-sect .content {
  max-width: 600px;
  margin: 0 auto 2rem;
}
.discount-sect .content h2 {
  font-size: 3rem;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}
.discount-sect .content p:nth-of-type(1) {
  color: var(--clr-primary);
  margin-bottom: .5rem;
  font-weight: bold;
}
.discount-sect .content p:nth-of-type(2) {
  font-size: 2rem;
}
.discount-sect img {
  max-width: 600px;
}

/* ## join-now-sect */
.join-now-sect {
  margin: 2rem 1rem;
  color: white;
}
.join-now-sect .container {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 3rem 1rem;
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('./images/party.png') no-repeat center center/cover;
}
.join-now-sect .content {
  max-width: 500px;
}
.join-now-sect .content p {
  margin-bottom: 1rem;
}

/* ## portfolio-sect */
.portfolio-sect {
  margin: 3rem 0;
  padding: 1rem 0;
}
.portfolio-sect .content {
  max-width: 500px;
  margin-bottom: 2rem;
}
.portfolio-sect .content .subheading {
  color: var(--clr-primary);
}
.portfolio-sect .gallery {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  gap: 1rem;
  width: 100%;
}
.portfolio-sect .gallery img {
  width: 100%;
}

/* ## newsletter-sect */
.newsletter-sect {
  margin: 1rem;
}

.newsletter-sect .container {
  background: rgba(255, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 3rem 1rem;
  text-align: center;
}
.newsletter-sect .content {
  max-width: 500px;
  margin: auto;
}
.newsletter-sect .content > * {
  margin-bottom: 1rem;
}

.newsletter-sect form {
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  max-width: 500px;
  margin: 2rem auto 0;
}
.newsletter-sect form input {
  padding: 1rem;
  border: none;
  flex: 1;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.newsletter-sect form button {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
