@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* ## global styles */
:root {
  --clr-primary: #FF0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {font-family: 'Inter', sans-serif;}
h1, h2, h3, h4 {font-family: 'Merriweather', serif;}
button {cursor: pointer;}
image {max-width: 100%;}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}

/* ## hero-sect */
.hero-sect {
  margin: 2rem 1rem;
  color: white;
}
.hero-sect .container {
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('./images/banner.png') no-repeat center center/cover;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sect .content {
  text-align: center;
  margin: 200px auto;
}
.hero-sect .content p {
  font-family: 'Merriwather', serif;
  font-size: 2rem;
}
.hero-sect .content h1 {
  font-size: 3rem;
  margin: 1rem;
}

/* ## discount-sect */
.discount-sect {
  margin: 1rem auto;
  padding: 3rem 1rem;
  text-align: center;
}
.discount-sect .content {
  max-width: 600px;
  margin: 0 auto 2rem;
}
.discount-sect .content h2 {
  font-size: 3rem;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}
.discount-sect .content p:nth-of-type(1) {
  color: var(--clr-primary);
  margin-bottom: .5rem;
  font-weight: bold;
}
.discount-sect .content p:nth-of-type(2) {
  font-size: 2rem;
}
.discount-sect img {
  max-width: 600px;
}